@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
body {

    text-align: center;
    background-image: url(./assets/lisa-keffer-i0kB5B9J8Ds-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 790px;
    width: 60%;
    background-attachment: fixed;

}

#logo{
    text-align: center;
    height: 300px;
    width: 550px;
    position: relative;
    top: 30px;
    left: 300px;
}

p{
    font-family: 'Poor Story', cursive;                             
    color: rgb(28, 209, 194);
    font-size: 60px;
    padding-top: -10px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    transition: 0.2s;
    position: relative;
    left: -180px;
    top: 213px;
    cursor: pointer;
}
span{
    
    font-family: 'Poor Story', cursive;                             
    color: white;
    font-size: 90px;
    padding-top: -10px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    transition: 0.2s;
    position: relative;
    left: 500px;
    top: 113px;  
}



p:hover{
    transform: scale(-0.8);
}

a{
    text-decoration: none;
    margin: 0px;
}

@media screen and (max-width: 995px), 
       screen and (max-height: 700px){
    body{
       background-attachment: fixed;
    }

    #logo{
        height: 150px;
        width: 300px;
        position: relative;
        left: 37px;
        top: 110px;
    }

    a{
        position: relative;
        left: -500px;
        height: 100px;
        width: 300px;
    }

    p{
        font-family: 'Poor Story', cursive;                             
        color: white;
        font-size: 30px;
        padding-top: -10px;
        text-shadow: 2px 2px 8px navajowhite;
        transition: 0.7s;
        position: relative;
        left: 568px;
        top: 168px;
        cursor: pointer;
    }
}