@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
body{
    background-image: url(./assets/lisa-keffer-i0kB5B9J8Ds-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 770px;
    width: 99%;
    font-family: 'Battlestar', sans-serif;
}

p{
    color: white;
    font-size: 30px;
    position: relative;
    height: 184px;
    width: 860px;
    margin: 0px 0px 0px 0px;
    left: 450px;
    top: 300px;
    animation: transition 2s;
}

a{
    color: white;
    font-size: 30px;
    position: relative;
    left: 28px;
    top: 524px;
    animation: transition 2s; 
    text-decoration: none;
}

@keyframes transition{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}


@media screen and (max-width: 995px), 
       screen and (max-height: 700px){
        body{
            background-attachment: fixed;
            position: fixed;
        }
        p{
            font-size: 12px;
            position: relative;
            left: 15px;
        }
        a{
            font-size: 20px;
            position: relative;
            left: 160px;
            top: 599px;
        }
       }